.profile_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    
}
.firstdiv{
    background-image: linear-gradient(to right, rgb(255, 183, 0), rgb(255, 222, 72));
    border-radius: 5px;
    padding: 20px;
}
.heading1{
    color: white;
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px #858585aa;
}
.para1{
    color: rgb(0, 53, 102);
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px #858585aa;
}
.para2{
    color: white;
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px #858585aa;
}
.seconddiv{
    background-color: rgb(0, 53, 102);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.heading2{
    color: white;
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px #858585aa;
}
.block1{
    align-self: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 214, 10);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    width: 46%;
    text-shadow: 2px 2px #858585aa;
}
.blockheading{
    color: white;
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    font-size: 40px;
}
.blockpara{
    color: rgb(0, 8, 20);
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    font-size: 30px;
}
.block1:hover{
    background-color: rgb(240, 184, 0);
    text-shadow: 2px 2px #858585aa;
    transform: scale(1.05);
}
.blocklink{
    background-color: rgb(0, 29, 61);
    padding: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px #858585aa;
}
